@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
body {
    margin: 0;
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position: top -500px left -400px, bottom -400px right -250px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card {
    height: 400px;
    width: 350px;
    background: #fff;
    background-image: url('/images/bg-pattern-card.svg');
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgb(126 109 133 / 39%);
    margin: 10% 35% 5% 35%;
}

.card-content {
    padding-top: 25%;
    text-align: center;
}

img {
    border-radius: 50%;
    border: 4px solid white;
}

h4 {
    color: hsl(229, 23%, 23%);
    margin-bottom: 0px;
}

span {
    color: hsl(0, 0%, 59%);
}

p {
    color: hsl(227, 10%, 46%);
}

table {
    margin-left: 7%;
}

th {
    padding-right: 40px;
}

.bottom-title {
    color: hsl(229, 23%, 23%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-right: 6%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:369px) {
    body {
        background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
        background-position: top -500px left -800px, bottom -400px right -750px;
        background-repeat: no-repeat;
    }
    .card {
        margin: 30% 3% 5% 1%;
    }
}

@media (min-width:370px) and (max-width:410px) {
    body {
        background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
        background-position: top -500px left -800px, bottom -600px right -600px;
        background-repeat: no-repeat;
    }
    .card {
        height: 400px;
        width: 350px;
        background: #fff;
        background-image: url(/images/bg-pattern-card.svg);
        background-position: top;
        background-repeat: no-repeat;
        border-radius: 20px;
        box-shadow: 0 5px 30px 5px rgb(126 109 133 / 39%);
        margin: 30% 35% 5% 3%;
    }
}

@media (min-width:411px) and (max-width:760px) {
    body {
        background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
        background-position: top -500px left -800px, bottom -600px right -600px;
        background-repeat: no-repeat;
    }
    .card {
        margin: 43% 5% 5% 7%;
    }
}

@media (min-width: 761px) and (max-width: 1022px) {
    body {
        background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
        background-position: top -400px left -600px, bottom -200px right -500px;
        background-repeat: no-repeat;
    }
    .card {
        margin: 40% 35% 5% 30%;
    }
    .attribution {
        margin-right: -8%;
    }
}

@media (min-width:1023px) and (max-width:1500px) {
    body {
        background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
        background-position: top -500px left -400px, bottom 0px right -250px;
        background-repeat: no-repeat;
    }
    .card {
        margin: 40% 30% 5% 30%;
    }
}

@media (min-width:1550px) and (max-width:2220px) {
    .attribution {
        margin-right: 9%;
    }
}